@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;

  width: calc(100vw - 30px);
  overflow-x: hidden;
  padding: 0px 15px 15px;

  @media screen and (max-width: 768px) {
    width: unset;
    overflow-x: scroll;
  }
}

ul li {
  list-style: none;
}

body > iframe {
  display: none;
}

body {
  background-color: rgba(6, 8, 12, 1);
}


*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar {
width: 5px;
background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
border-radius: 15px;
background-color: #ffffff;
}
